@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:wght@400;600;700&display=swap');

/*==========Base==========*/
body {
    max-width: 1000px;
    margin: 0 auto !important;
    float: none !important;
    padding: 0px;
    box-sizing: border-box;
    background-color: #232323;
    color: #cdcdcd;
    font-size: 100%;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

a {
    color: #cdcdcd;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: tomato;
    transition: color 0.3s ease;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.button:hover {
    color: #232323;
}

img {
    max-width: 100%;
    height: auto;
}

textarea,
input {
    background: none;
    border: none;
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 28px;
    margin-bottom: 30px;
}

/*==========Header==========*/

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #232323;
}

.header-image {
    width: 50px;
}

.header-socials {
    display: flex;
    flex-direction: row;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
}

/*==========Home==========*/

.content-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    max-width: 1024px;
    column-gap: 200px;
}

.home-name {
    font-size: 42px;
}

.home-data-wrapper {
    max-width: 800px;
}

.home-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 24px;
    margin-top: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 768px;
}

.hello-details {
    font-size: 18px;
    text-align: start;
    margin-top: 20px;
}

.about-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello-details {
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #232323;
    width: 150px;
    height: auto;
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 15px;
    transition: 0.3s;
}

.button:hover {
    background-color: #848484;
}

.profile-photo {
    width: 200px;
    margin-top: 90px;
}

/*==========Frameworks==========*/

.frameworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    max-width: 170px;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: opacity(95%);
}

.card__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-description {
    margin-top: 10px;
}


/*==========Resume==========*/
.resume {
    margin-top: 150px;
}

.resume__container {
    display: flex;
    flex-direction: row;
    column-gap: 250px;
}

.resume__title {
    color: #ededed;
    letter-spacing: 4px;
    letter-spacing: 6px;
    margin-bottom: 45px;
}

.resume__item {
    border-left: 2px solid #ededed;
    padding-left: 25px;
    position: relative;
}

.resume__item:not(:last-child) {
    padding-bottom: 48px;
}

.resume__item::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ededed;
    position: absolute;
    left: -9px;
    background-color: #232323;
}

.resume__subtitle {
    color: var#ededed;
    margin-bottom: 20px;
}

.resume__data-education,
.resume__data-employment {
    color: #ededed;
    margin-bottom: 40px;
}

.resume__description {
    text-align: justify;
}


/*==========Portfolio==========*/
.work {
    margin-top: 150px;
}

.project__categories {
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

.category__btn {
    color: #fff;
    position: relative;
}

.category__btn:hover {
    color: #cdcdcd;
}

.category__btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    opacity: 0;
    transition: 0.3s;
}

.category__btn:hover::after {
    opacity: 1;
}

.active-work::after {
    opacity: 1;
}

.projects__container {
    row-gap: 2.5rem;
}

.project__item {
    grid-template-columns: 5fr 7fr;
    border-radius: 19px;
    background-color: #17171767;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 50px;
}

.project__img {
    width: 100%;
    object-fit: cover;
    border-radius: 19px 19px 0 0;
}

.project__data {
    padding: 3rem 3rem 2.5rem 1.875rem;
}

.project__title {
    margin-bottom: 0.8em;
    text-align: justify;
}

.project__description {
    margin-bottom: 2.5em;
    text-align: justify;
}

.project__stack {
    margin-bottom: 1.25em;
}

.tags li {
    display: inline-block;
    margin-right: 0.6rem;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
}

.project__link {
    float: right;
    margin-top: 3.9em;
}


/*==========Contact==========*/
.contact {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin-top: 100px;

}

.contact::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.contact__content {
    z-index: 10;
    position: relative;
}

.contact__container {
    display: flex;
    flex-direction: row;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
    column-gap: 200px;
}

.contact .section__title,
.contact__list,
.contact__social-link,
::placeholder,
.contact__input,
.contact__form-title,
.footer__copy {
    color: #fff;
}

.contact__list {
    margin-bottom: 3.25rem;
}

.contact__list dt {
    float: left;
    text-transform: uppercase;
}

.contact__list dd {
    padding-left: 6.25em;
    margin-bottom: 0.94em;
}

.contact__socials li {
    margin-bottom: 0.75rem;
}

.contact__form {
    position: relative;
}

.contact__form-title {
    margin-bottom: 1.25em;
}

.contact__input-div {
    margin-bottom: 0.94em;
}

.contact__input {
    width: 700px;
    border: 1px solid #fff;
    border-radius: 19px;
    padding: 0.625rem;
}

.textarea {
    height: 7.2rem;
    resize: none;
}

.contact__input:focus {
    box-shadow: inset 0 0 5px 0 #fff;
}

.contact__message {
    position: absolute;
    bottom: 34%;
    left: 0;
    color: #fff;
}

.color-light {
    opacity: 1;
}

.color-dark {
    opacity: 0.4;
}

.contact__button {
    margin-top: 1.875rem;
    width: 150px;
    box-shadow: 0 1px 29px rgb(0 0 0 / 40%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.footer__copy {
    opacity: 0.4;
    margin-top: 3.75rem;
    text-align: center;
}

/*==========Footer==========*/
.footer {
    margin-top: 150px;
}

.footer-image {
    width: 50px;
}

.footer-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
}

.footer-anchor {
    color: #cdcdcd;
    padding-left: 15px;
}

.footer-social-github {
    margin-right: 10px;
}

.footer-anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

/*==========JS slide groups==========*/
.slide-in {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(5%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translatey(0);
}


@media (max-width: 1024px) {
    .content-home {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .home-data,
    .about,
    .hello-details {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .profile-photo {
        width: 250px;
    }

    .footer {
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media (max-width: 768px) {

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        color: #232323;
    }

    #menu li {
        border-bottom: 2px solid #0000000d;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: #cdcdcd;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .resume__container {
        flex-direction: column;
    }

    .resume__container {
        margin-top: 25px;
    }

    .resume__data-employment {
        margin-top: 50px;
    }

    .contact__input {
        width: 300px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer-infos-phone {
        margin-bottom: 0;
    }

    .footer-anchors {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-anchor {
        margin-bottom: 5px;
    }
}


@media (max-width: 376px) {
    .home-data-wrapper,
    .work {
        margin: 0 20px;
    }
}